<!DOCTYPE html>
<html>
  <head>
    <title>Rango</title>
  </head>
  
  <body>
    <h1>{{ category_name }}</h1>
    {% if category %}
      {% if pages %}
        <ul>
          {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title}}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <strong>No pages currently in this category.</strong><br />
      {% endif %}
      <a href="/rango/{{ category_name_slug }}/add_page/">Add a page?</a>
    {% else %}
      The specified category {{ category_name }} does not exist!<br />
      <a href="/rango/add_category/">Create a category</a>
    {% endif %}
  </body>
</html>
